In [1]:
#TASK 12

In [14]:
#reduce()
#it reduces the seguence into a single element using a certain function
#syntax
#--->reduce(function,sequence)

In [15]:
from functools import reduce

In [16]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [17]:
def add(a,b):
    return a+b

In [18]:
reduce(add,list1)

10

In [19]:
reduce(lambda a,b:a+b , list1)

10

In [22]:
#2)
list2=[1,2,3,4]
list2

[1, 2, 3, 4]

In [23]:
def mul(a,b):
    return a*b

In [24]:
reduce(mul,list2)

24

In [25]:
reduce(lambda a,b:a*b , list2)

24

In [26]:
#zip()
#returns a zip object, where 1st item in each passed sequence is paired together and so on
#syntax
#---> zip(sequence1,sequence2)

In [31]:
#1)
names=('arpitha','pooja','nandini','nikitha')
company=('dell','hcl','infosys','wipro')
print(names)
print(company)

('arpitha', 'pooja', 'nandini', 'nikitha')
('dell', 'hcl', 'infosys', 'wipro')

In [32]:
zip(names,company)

In [33]:
list(zip(names,company))

[('arpitha', 'dell'),
 ('pooja', 'hcl'),
 ('nandini', 'infosys'),
 ('nikitha', 'wipro')]

In [34]:
dict(zip(names,company))

{'arpitha': 'dell', 'pooja': 'hcl', 'nandini': 'infosys', 'nikitha': 'wipro'}

In [37]:
#2)
list1=[1,2,3,4,5]
set1='apple','banana','mango','gouva','papaya'
print(list1)
print(set1)

[1, 2, 3, 4, 5]
('apple', 'banana', 'mango', 'gouva', 'papaya')

In [38]:
list(zip(list1,set1))

[(1, 'apple'), (2, 'banana'), (3, 'mango'), (4, 'gouva'), (5, 'papaya')]

In [39]:
#enumerate()
#adds a count to a sequence

In [41]:
l=['apple','banana','orange']
for i,val in enumerate(l):
    print('index is {} and value is {}'.format(i,val))

index is 0 and value is apple
index is 1 and value is banana
index is 2 and value is orange

In [46]:
list(enumerate(l,0))

[(0, 'apple'), (1, 'banana'), (2, 'orange')]

In [1]:
list1=['one','two','three','four']
list(enumerate(list1,1))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]